@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>References</h1>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis/openapi?view=aspnetcore-8.0">OpenAPI support in minimal API apps</a>.</p>
    <p>Learn about <a href="https://medium.com/codenx/minimal-apis-in-net-8-a-simplified-approach-to-build-services-eb50df56819f">Minimal API's in NET 8</a>.</p>
    <p>Learn about <a href="https://medium.com/codenx/minimal-apis-middleware-in-net-8-d523f901d506">Minimal API's Middleware in NET 8</a>.</p>
    <p>Learn about <a href="https://github.com/sandeepkumar17/CleanArch/">Unit Tests</a>.</p>
    <p>Learn about <a href="https://gist.github.com/VincentH-Net/a950fb18363111ccac8e1fb64123647e">Microsoft.AspNetCore.OpenApi and Swagger</a>.</p>
    <ul>
        <li>
            Namespace: Microsoft.AspNetCore.Builder
        </li>
        <li>
            Assembly: Microsoft.AspNetCore.OpenApi.dll
        </li>
        <li>
            Package: Microsoft.AspNetCore.OpenApi v8.0.0
        </li>
    </ul>
</div>
